In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.pylab as plb
import seaborn

In [2]:
# matplotlib 한글 표시 설정
import matplotlib.font_manager as fm

# matplotlib의 글꼴 관리자에 특정 글꼴 추가
fe = fm.FontEntry(
    fname=r'font/NanumGothic.ttf',
    name='NanumGothic'
)
fm.fontManager.ttflist.insert(0,fe)

# pyplot에 matplotlib의 글꼴 관리자에 등록된 글꼴 적용
plt.rcParams.update({'font.family':'NanumGothic','font.size':14})
# pyplot에서 `-`를 문자로 취급하도록 설정
plt.rcParams['axes.unicode_minus']=False

In [3]:
df = pd.read_csv('population.csv')
df

,date,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female,통,반,area,composition_ratio
0,2023-01,대연1동,9290,15787,7993,7794,14775,7486,7289,3677,1577,2100,31,175,1,4
1,2023-01,대연3동,16199,33022,16168,16854,28032,13566,14466,4456,1933,2523,33,302,4,14
2,2023-01,대연4동,5420,11991,5848,6143,10369,5012,5357,3015,1284,1731,20,153,1,4
3,2023-01,대연5동,8354,16807,8050,8757,14908,7052,7856,3661,1593,2068,18,112,1,4
4,2023-01,대연6동,5833,14929,7161,7768,12043,5717,6326,2446,1077,1369,16,108,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,2023-12,우암동,5730,12281,6006,6275,11208,5419,5789,4040,1740,2300,29,219,1,5
200,2023-12,문현1동,4835,10993,5405,5588,9786,4751,5035,2845,1206,1639,19,129,1,3
201,2023-12,문현2동,4881,7916,3961,3955,7372,3668,3704,2126,907,1219,16,102,1,2
202,2023-12,문현3동,7053,16395,7963,8432,14210,6847,7363,3565,1517,2048,23,155,1,3
203,2023-12,문현4동,4344,8880,4308,4572,8151,3933,4218,2489,1044,1445,17,126,1,3

In [10]:
df1 = df.set_index('date')
df1

,region,number_of_households,population_sum,population_male,population_female,population_18over_sum,population_18over_male,population_18over_female,population_65over_sum,population_65over_male,population_65over_female,통,반,area,composition_ratio
date,,,,,,,,,,,,,,,
2023-01,대연1동,9290,15787,7993,7794,14775,7486,7289,3677,1577,2100,31,175,1,4
2023-01,대연3동,16199,33022,16168,16854,28032,13566,14466,4456,1933,2523,33,302,4,14
2023-01,대연4동,5420,11991,5848,6143,10369,5012,5357,3015,1284,1731,20,153,1,4
2023-01,대연5동,8354,16807,8050,8757,14908,7052,7856,3661,1593,2068,18,112,1,4
2023-01,대연6동,5833,14929,7161,7768,12043,5717,6326,2446,1077,1369,16,108,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12,우암동,5730,12281,6006,6275,11208,5419,5789,4040,1740,2300,29,219,1,5
2023-12,문현1동,4835,10993,5405,5588,9786,4751,5035,2845,1206,1639,19,129,1,3
2023-12,문현2동,4881,7916,3961,3955,7372,3668,3704,2126,907,1219,16,102,1,2
2023-12,문현3동,7053,16395,7963,8432,14210,6847,7363,3565,1517,2048,23,155,1,3
2023-12,문현4동,4344,8880,4308,4572,8151,3933,4218,2489,1044,1445,17,126,1,3

- 월 별로 각 동의 인구수 변화  
- 각 동 별로 연 평균 인구수 확인(어느 동이 가장 인구가 많은지)    
- 18세 이상(유권자) 인구수 확인  
- 65세 이상 인구수 확인(고령화 비율 확인 가능)

In [4]:
# df_1dong = pd.DataFrame(df[df.region.str.contains('대연1동')]['population_sum'])
# df_1dong

In [11]:
df_DaeYeon1 = df[df.region.str.contains('대연1동')].pivot(index='date',columns= 'region', values='population_sum').plot()
plt.title('월 별 인구수 변화')
plt.xlabel('날짜')
plt.ylabel('인구수 변화')
plt.grid(True)

KeyError: 'date'

In [8]:
df_DaeYeon1.plot(y=['population_sum'])

TypeError: plot() got an unexpected keyword argument 'y'